.App {
  font-family: sans-serif;
}
.container {
  display: block;
  border: 1.5px solid black;
  width: 100vw;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem rgba(black, 0.1);
}
.container h2 {
  text-align: center;
  text-transform: uppercase;
}
.container input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 90%;
  font-size: 20px;
  padding: 5px;
}
.toDoList {
  list-style: none;
  padding: 10px;
}

.toDoList li {
  font-size: 20px;
  display: flex;
  gap: 20px;
  border-bottom: 3px solid #eee;
  padding-bottom: 5px;
}

.isDone {
  text-decoration: line-through;
}

.button {
  background-color: #aaaaaa;
  color: #343a40;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px auto;
  display: block;

  transition: 0.3s ease;
}

.button:hover {
  background-color: var(--color-dark);
}
